.inputContainer {
  margin-bottom: 1.8rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.textInput {
  padding: 1rem;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 5px;
  color: inherit;
  outline: none;
  border: 1px solid var(--light-grey);
}

:global(.primary) {
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  color: #111;
  font-family: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--button-background);
}

:global(.primary:hover) {
  box-shadow: inset 0 0 0 1px var(--text-color);
}

:global(.primary:disabled) {
  background-color: var(--light-grey);
  cursor: not-allowed;
  opacity: 0.6;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
}
