.header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebarIcon {
  border: none;
  outline: none;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.sidebarIcon:hover {
  cursor: pointer;
}

.logo {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}
