.row {
  display: grid;
  grid-template-columns: 6rem 20.6rem 1fr 8rem;
  border-bottom: 1px solid var(--light-grey);
}

.title {
  padding-left: 1.6rem;
  padding-top: 1rem;
  padding-bottom: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 600;
  border-right: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.datesContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(31, 1fr);
}

.box {
  color: var(--date-box);
  font-size: 1.1rem;
}

.total {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  padding-left: 2.3rem;
}

.actions {
  display: flex;
  align-items: center;
  border-right: 1px solid var(--light-grey);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 500;
}

.monthsContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(12, 1fr);
}

.monthsTitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.6rem 1rem;
}

.activeMonth {
  background: var(--button-background);
}

.total {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  padding-left: 2.3rem;
}

.monthsTitle:hover {
  cursor: pointer;
}
