.sidebarIcon {
  border: none;
  outline: none;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
}

.sidebarIcon:hover {
  cursor: pointer;
}

.sidebar {
  background-color: #f9f9f9;
  width: 30rem;
  padding: 2rem;
  transition: all 300ms ease;
  overflow: hidden;
}

.sidebarHidden {
  width: 0;
  padding: 2rem 0rem;
}

.controlsContainer {
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.routeButton {
  text-decoration: none;
}

.linkButton {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease-out;
}

.linkButton:hover {
  background-color: #e0e0e0;
  font-weight: 400;
}

.linkButtonActive {
  /* box-shadow: inset 0 0 0 1.5px var(--text-color); */
  background-color: #e0e0e0;
  border-radius: 5px;
}

.logo {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}
