* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  color: #111111;
}
.centered-container {
  max-width: 110rem;
  margin: 13rem auto;
  text-align: center;
}

main {
  border-top: 1px solid #dddddd;
}

.habitsContainer .row:nth-child(even) {
  background-color: #f6f6f6;
}
